

  @font-face {
            font-family: 'SegmentLED';
            src: url(digital-clock-font/14\ Segment\ LED\ Regular.ttf,)
            url(digital-clock-font/14\ Segment\ LED\ Pic.jpg );
        }
        @font-face {
            font-family: 'DS';
            src: url(digital-clock-font/DS-DIGI.TTF),
                 url(digital-clock-font/DS-DIGIB.TTF),
                 url(digital-clock-font/DS-DIGII.TTF),
                 url(digital-clock-font/DS-DIGIT.TTF);
        }
        *{
            margin: 0;
            padding: 0;
            
        }
        body{
            margin: 0;
            padding: 0;
            /* background: url("img.jpg"); */
            background-size: cover;
            font-family: 'SegmentLED','DS';
            font-weight: bold;
        }
    
        
        #clock{
            margin-top: 15%; 
            font-size: 72px;
            /* color: #000; */
            /* color: purple; */
            color: #fff;
            text-shadow: 5px 10px 8px #000;
            font-family: 'SegmentLED','DS';
            font-weight: bold;
            /* width: 40vw; */
            text-align: center;
            /* height: 45vh; */
            box-sizing: border-box;
            border-radius: 20px 5px;
            box-shadow: 5px 10px 30px rgb(248, 248, 132);
        }
        
     


        
        