*{
    margin: 0;
    padding: 0;
}
header{
    padding: 0;
    margin: 0;
}
.container-fluid{
    /* margin-right: 0;
    margin-left: 0; */
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(203, 212, 221);
    margin: 0;
    padding: 0;
    /* max-height: 207vh; */

}